NODE_ENV = development
port = 3000

DB_NAME = db_name_for_your_wallet_app_database

SECRET_KEY = secret_key_for_jwt_token_generation_and_other_security_purposes
SALT_BRYPTY = slalt_rounds_for_bcrypt_password_hashing

EMAIL_USER= your_email_address_here
EMAIL_PASS= your_email_password_here